<!-- src/main/resources/templates/graph.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Результат</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td {
            border: 1px solid #999;
            padding: 5px;
            min-width: 80px;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Загруженный Excel</h1>
<table>
    <tbody>
    <tr th:each="row : ${sheetData}">
        <td th:each="cell : ${row}"
            th:style="${cell.bgColor != null} ? 'background-color:' + ${cell.bgColor} : ''">
            <span th:text="${cell.value}"></span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>